.book-group {
    display: flex;
    justify-content: start;
    min-height: 250px;
}

.catalog-carousel .carousel-inner {
    display: flex;
    align-items: stretch;
}

.catalog-carousel .carousel-inner .carousel-item {
    flex: 0 0 100%;
}

.catalog-carousel .carousel-inner::-webkit-scrollbar {
    display: none;
}

.catalog-carousel .carousel-inner {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 5px;
    cursor: pointer;
}

.book-card .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book-card .card-body {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .book-group {
        flex-direction: column;
    }
    .book-card {
        width: 100%;
        margin: 10px 0;
    }
}

.catalog-carousel .carousel-control-prev,
.catalog-carousel .carousel-control-next {
    top: -50px;
    width: 24px;
    height: 24px;
    z-index: 2;
}

.catalog-carousel .carousel-control-prev {
    left: auto;
    right: 60px;
}

.catalog-carousel .carousel-control-next {
    right: 25px;
}

.carousel-control-prev-icon{
    background-image: url("../assets/icon/arrow-left.svg")!important;
}

.carousel-control-next-icon {
    background-image: url("../assets/icon/arrow-right.svg")!important;
}


.rating-container{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.rating-header{
    margin-right: 10px;
}

.recommended {
    background: url('../assets/library.jpg') no-repeat center center;
    background-size: cover;
    min-height: 80vh;
    height: 82vh;
    max-height: 82vh;
    cursor: pointer;
    margin: 10px 0 30px 0;
}

.recommended::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.recommended .card-img-overlay {
    position: relative;
    z-index: 2;
}

.navigation-container{
    margin: 40px 0 20px 0;
    display: flex;
    align-items: center;
}

.navigation-header{
    margin-right: 20px;
    font-size: 20px;
}

.recommendation-title{
    font-size: 36px;
    margin-bottom: 10px;
}

.recommended-name{
    font-size: 24px;
    max-width: 400px;
}

.catalog-sector{
    margin: 0 0 40px 0;
}

.group-header{
    font-size: 24px;
    margin-bottom: 20px;
}

.detailed-card{
    margin: 20px 0;
    width: 50%;
    min-height: 50vh;
}

.detailed-card .card-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.button-edit{
    margin-right: 5px;
}

@media (max-width: 460px) {
    .navigation-container{
        align-items: start;
        flex-direction: column;
    }

    .navigation-header{
        margin-bottom: 10px;
    }

    .detailed-card button{
        width: 100%;
    }

    .button-edit{
        margin-bottom: 10px;
    }
}

@media (max-width: 760px) {
    .catalog-carousel .carousel-control-prev,
    .catalog-carousel .carousel-control-next {
        top: -20px;
    }
    .detailed-card{
        width: 100%;
        min-height: 50vh;
    }
}