.book-form{
    margin: 20px 0;
}

.form-container{
    padding: 40px 0 60px 0;
}

.form-control.is-invalid{
    border-color: var(--bs-form-invalid-border-color)!important;
    padding-right: calc(1.5em + .75rem)!important;
    background-image: url('http://www.w3.org/2000/svg')!important;
    background-repeat: no-repeat!important;
    background-position: right calc(.375em + .1875rem) center!important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)!important;
}

.form-control.is-valid{
    border-color: var(--bs-form-valid-border-color)!important;
    padding-right: calc(1.5em + .75rem)!important;
    background-image: url('http://www.w3.org/2000/svg')!important;
    background-repeat: no-repeat!important;
    background-position: right calc(.375em + .1875rem) center!important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)!important;
}

.form-group{
    margin-bottom: 20px;
}

.form-row{
    display: flex;
    align-items: start;
}

.author-input, .isbn-container{
    width: 50%;
    margin: 0 10px 20px 0;
}

.author-delete{
    height: 40px;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .author-input, .isbn-container{
        width: 100%;
        margin: 0 0 7px 0;
    }

    .author-delete{
        margin-bottom: 20px;
    }

    .button{
        width: 100%;
        height: 40px;
    }
}
